
/* green on gray*/

.cmdb-header, .cmdb-header h1{
    background-color: #6bb130;
    color: #ffffff;
}
.cmdb-background {
    background-color: #6bb130;
}

.cmdb-transparent-background{
    background: transparent;
}
.cmdb-panel-body.x-panel-body-default{
    background-color:#E0E0E0;
}

.cmdb-panel-body {
    background-color:#E0E0E0;
}
.cmdb-panel-background {
    background-color:#D0D0D0;
    padding:4px;
    font-size:7pt;
}

.cmdb-tab-bar {
    border: 0px;
    background-color: #6bb130;
    background-image: -webkit-linear-gradient(top,#6bb130,#d2d2d2);
    background-image: -moz-linear-gradient(top,#6bb130,#d2d2d2);
    background-image: -o-linear-gradient(top,#6bb130,#d2d2d2);
}